name: Build, Scan, Push Docker & Deploy WAR

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-scan-deploy:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}

    #######